<label for="sort">Sort by:</label>
<select id="sort" ng-model="sort">
    <option value="-star" checked>star</option>
    <option value="first_name">first name</option>
    <option value="last_name">last name</option>
    <option value="position">position</option>
</select>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div ng-repeat="user in $resolve.users | orderBy:sort ">
                <div class="row">
                    <div class="col-sm-3">
                        <img ng-src="{{ user.avatar }}" alt="{{ user.first_name }} {{ user.last_name }} avatar" />
                    </div>
                    <div class="col-sm-7">
                        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                        <p>{{ user.position }}</p>
                        <p>
                            {{ user.phone }}
                            <br> {{ user.email }}
                        </p>

                        <p>
                            {{ user.address.street }}
                            <br> {{ user.address.city }} {{ user.address.country }}
                        </p>
                    </div>
                    <div class="col-sm-2 glyphicon">
                        <a ng-click="star(user)" href="#"><span class="glyphicon {{ user.class_star }}" 
    aria-hidden="true"></span></a>
                        <a ng-click="delete(user)" href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>